body{
    margin: 0 auto;
    padding: 0 auto;
    background-image: url(../images/stock-vector-colorful-music-background-179608460.jpg);
    background-repeat: repeat-x;
    
}
*{
    font-family: h2-header;
    text-decoration: none;
    text-align: center;
}
footer{
    opacity: 0
    position: fixed;
    height: 6%;
    top: 700px;
}
center{
    margin-top: -20px;
       position: fixed;
    height: 6%;
    top: 700px;
    width: 100%;
}
audio{
    margin: 400px auto;
    padding: 0 auto;
    width: 800px;
    opacity: 0.5;
    
}
audio:hover{
    opacity: 0.9;
}
div#haut-navigation{
    margin-top: 1px;
}